
#downloadView { 
    .downloadInfos {
        display: flex;
        width: 100%;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}