#logs{
    #logErrors{
        cursor: pointer;
    }
    .list{
        margin:0;
        .item{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}