#monitor{
    #infosContainer {
        .label{
            font-size: 1.2em;
            box-shadow: 24px 22px 10px -1px #142739 !important;
        }
    }
    .title{
        padding-top:10px;
    }
}