#notificationsContainer{
    // background-color:red;
    // position: fixed;
    text-align: center;
    margin-bottom: 20px;
    z-index: 104;
    position: fixed;
    right: 0;
    .show{
        background-color: $masterColor;
        margin: auto;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;  
        padding: 10px;

    }
    .notifications{
        height: 100vh;
        overflow-y: scroll;
        padding: 10px;
        background-color: #2b3e50;
        box-shadow: 24px 22px 10px -1px #142739 !important;
        width: 100vw;
        margin: auto;
        i {
            position: absolute;
            right: 10px;
        }
    }
    
}