@import '../bower_components/semantic-ui-sass/app/assets/stylesheets/semantic-ui.scss';
.navbar{
    color: white;
}
body{
    background-color: #EEE;
}
.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.85);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}

#currentContent{
        position: absolute;
    z-index: 100;
    color: white;
}
#currentProgress {
        position: absolute;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    .bar {
        height: 100%;
    }
}
#currentModuleContainer{
    padding-top: 1em;
}
.modal>div{
    width: 100%;
}
.modalContainer{
    height: 20vh;
    text-align: center;
    line-height: 2em;
}
.modalHeader {
    text-align: center;
    line-height: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.85)
}

.scallableTrigger{
    text-align: right;
    font-size: large;
    width: 30px;
    height: 30px;
    position:absolute;
    top:0;
    right:0;
    color: rgba(0,0,0,0.1);
}
.right.menu {
    .item{
        .progress{
            width: 100% !important;
            margin: 0;
        }
        width: 100% !important;
    }
    width: 100% !important;
}
.ui.list > .item .description{
    width: 100%;
    word-break: break-all;
}
.ui.list > .item .description.active{
    display: inline-block;
}
.fa.fa-arrows-alt{
    font-size: xx-large
}
.closeModal{
    width: 3rem;
    height: 3rem;
    color: white;
    position: absolute;
    right: 15px;
    margin: 0;
    top: 30px;
    font-size: 3rem;
}