* {
  box-sizing: border-box;
  font-weight: bold !important;
}

#body .hint {
  position: absolute;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 3;
  color: black;
  top: 20px;
  background-color: #2b3e50;
  border: 3px solid #FFF;
}

#body .hint .item {
  padding: 10px;
}

#body .module > div {
  max-width: 1200px;
}

#body ::-webkit-scrollbar {
  background-color: transparent;
  width: 0.4em;
  position: absolute;
  margin-right: 2px;
  right: 2px;
}

#body .ui.grid > .row {
  padding-top: 0;
}

#body ::-webkit-scrollbar-thumb:window-inactive,
#body ::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 10px;
}

#body .ui.grid > * {
  padding: 0;
}

#body #monitor #infosContainer .label {
  font-size: 1.2em;
  box-shadow: 24px 22px 10px -1px #142739 !important;
}

#body #monitor .title {
  padding-top: 10px;
}

#body #infosContainer h1 {
  padding-bottom: 30px;
}

#body .progress {
  margin: 0 !important;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  height: 7px;
  padding: 0;
  margin: 0;
}

#body .progress#totalPercent {
  z-index: 103;
  position: fixed;
  left: 90px;
  width: calc(100% - 90px);
}

#body .progress .progressText {
  background-color: #415262;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  font-size: 1.2em;
}

#body .progress .bar {
  height: 100%;
}

#body .section {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 24px 22px 10px -1px #142739 !important;
}

#body .section .titleSection {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  background-color: #f59c16;
}

#body .section .titleSection h1 {
  width: 100%;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}

#body .section .titleSection i {
  width: 38px;
  font-size: 2em;
  text-align: center;
  border-right: 1px solid #f9c678;
  margin-right: 10px;
}

#body .section .contentSection {
  margin: 10px;
}

#body .subSection {
  padding: 0;
  margin-bottom: 10px;
  border: 2px solid #2b3e50 !important;
  background-color: #2b3e50 !important;
  box-shadow: 0px 0px 10px 3px #2b3e50 !important;
}

#body .subSection .title {
  background-color: #f59c16;
  margin-bottom: 0;
  padding: 10px;
}

#body .sidebar {
  width: 90px !important;
}

#body .sidebar a {
  color: white !important;
}

#body .sidebar a i {
  width: 100%;
  font-size: 40px;
  margin-bottom: 10px;
}

#body .sidebar img {
  width: 100%;
}

#body #logs #logErrors {
  cursor: pointer;
}

#body #logs .list {
  margin: 0;
}

#body #logs .list .item {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#body #settingsView .settingSection {
  margin: auto;
  padding: 0;
  box-shadow: 24px 22px 10px -1px #142739 !important;
}

#body #settingsView .settingSection .title {
  width: 100%;
  background-color: #f59c16;
  font-size: 2rem;
  padding: 15px;
}

#body #settingsView .settingSection .content {
  padding: 10px;
  width: 100%;
  background-color: #495868;
}

#body #settingsView .settingSection .content .item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  margin-top: -1px;
}

#body #settingsView .settingSection .content .item .action {
  margin-left: auto;
  margin-right: 0;
  width: 300px;
}

#body #settingsView .settingSection .content .item .action .input.ok {
  border: 1px solid green;
}

#body #settingsView .settingSection .content .item .action .input.ok input {
  color: green;
}

#body #settingsView .settingSection .content .item .action .input.ok .label {
  padding-left: 5px;
  padding-right: 5px;
  background-color: green;
}

#body #settingsView .settingSection .content .item .action .input.ko {
  border: 1px solid red;
}

#body #settingsView .settingSection .content .item .action .input.ko input {
  color: red;
}

#body #settingsView .settingSection .content .item .action .input.ko .label {
  padding-left: 5px;
  padding-right: 5px;
  background-color: red;
}

#body #settingsView .settingSection .content .item .action .workers {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#body #settingsView .settingSection .content .item .action .workers li {
  width: 100%;
  font-size: 13px;
  border: 1px solid grey;
  line-height: 50px;
  text-align: center;
  margin: 3px;
  text-transform: uppercase;
}

#body #settingsView .settingSection .content .item .action .workers li.ok {
  background: #008000;
}

#body #settingsView .settingSection .content .item .action .workers li.ko {
  background: #ff0000;
}

#body #settingsView .settingSection .content .item .description {
  font-size: 1.2em;
}

#body #settingsView .settingSection .content .item .description .sub {
  color: #999999;
}

#body #settingsView .settingSection .content .item > * {
  display: inline-block;
}

#body #settingsView .settingSection .content .item:first-child {
  border-top: none;
}

#body #settingsView .settingSection .content .item:last-child {
  border-bottom: none;
}

#body #notificationsContainer .notification {
  padding: 10px;
  animation: open 500ms;
  animation-fill-mode: forwards;
}

#body #notificationsContainer .notification.infos {
  background-color: #1e7abf;
}

#body #notificationsContainer .notification.warnings {
  background-color: #f59c16;
}

#body #notificationsContainer .notification.errors {
  background-color: #c92424;
}

#body #notificationsContainer .close {
  right: 0;
  position: absolute;
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

#body #downloadView .downloadInfos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#body #versionView .moduleTag .tag {
  width: 25%;
}

#body #versionView .branches {
  display: flex;
  flex-direction: row;
}

#body #versionView .branches .containerTags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#body #versionView .branches .containerTags .tag {
  background-color: blue;
  padding: 10px;
  margin: 10px;
}

#body #versionView .branches .containerTags .tag i {
  background-color: yellow;
}

#body #versionView .branches .containerTags .tag.activeBranch {
  background-color: green;
}

#body #versionView .branches .branchStatus {
  border: 1px solid #f59c16;
  background-color: rgba(0, 0, 0, 0.3);
  flex-grow: 1;
}

#body #versionView .branches .branchStatus .title {
  text-align: center;
}

#body #versionView .branches .branchStatus > .row {
  margin-bottom: 20px;
}

.infoContainer {
  position: fixed !important;
  left: 25%;
  width: 50%;
  z-index: 100;
}

.infoContainer .ui.row.message {
  overflow: hidden;
  border-radius: 10px;
  opacity: 0.5;
}

.infoContainer .ui.row.message:hover {
  opacity: 1;
}

.infoContainer .ui.row.message .close {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.infoContainer .ui.row.message .text {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.ui.grid {
  margin: 0;
  position: relative;
}

.floating-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.floating-button:hover {
  background-color: #A31D11;
}

.floating-button .plus {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#moduleContainer {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.globalContainer {
  margin-left: 90px !important;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 105;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.modal > div {
  width: 100%;
}

.modal .modalContainer {
  height: 20vh;
  text-align: center;
  line-height: 2em;
}

.modal .modalHeader {
  text-align: center;
  line-height: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.modal .closeModal {
  width: 3rem;
  height: 3rem;
  color: white;
  position: absolute;
  right: 15px;
  margin: 0;
  top: 30px;
  font-size: 3rem;
}
 

 /*# sourceMappingURL= index.css.map */