#notificationsContainer {
  background-color: #411C00;
  position: fixed;
  margin-top: 40px;
  z-index: 70;
  width: 100vw;
}

#notificationsContainer .show {
  background-color: #a74800;
  width: 100vw;
  text-align: center;
  font-weight: bold;
}

#notificationsContainer .notifications > .message {
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

#notificationsContainer .notifications > .message i {
  position: absolute;
  right: 10px;
}

.section {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.section .titleSection {
  background-color: rgba(0, 0, 0, 0.2);
}

.section .titleSection h1 {
  margin: 0;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
}

.logo {
  padding: 0 !important;
  width: 120px !important;
}

.logo img {
  width: auto !important;
  height: 100% !important;
}

#infosContainer .label {
  font-size: 1.2em;
}

#currentContent {
  position: absolute;
  z-index: 100;
  top: 0;
}

h1 {
  font-weight: bold;
}

.ui.segment {
  padding: 0 !important;
}

body .ui.segment {
  visibility: hidden;
}

.segmentContent {
  padding: 0 !important;
  border: 2px solid #2b3e50 !important;
  background-color: #2b3e50 !important;
  box-shadow: 0px 0px 10px 3px #2b3e50 !important;
  position: relative !important;
}

.navbar {
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  margin: 0;
  height: 40px !important;
}

.navbar * {
  font-size: 2rem;
}

.navbar > div {
  padding: 0 !important;
}

.navbar + .fixNavbar {
  height: 40px !important;
}

.navbar menu span {
  padding-left: 2.56667em !important;
  padding-right: 0.93333em !important;
}

.list .content {
  font-weight: bold;
  text-align: center;
}

.ui.progress {
  background-color: transparent;
}

.segment {
  margin-bottom: 30px !important;
}

.progressWide {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
}

.progressWide .bar {
  height: 100% !important;
}

h3 {
  background-color: #df691a;
}

.ui.grid {
  margin: 0;
}

.ui.grid > * {
  padding: 0;
  margin: 0;
}

#currentProgress {
  background-color: #2b3e50 !important;
}

#progressBackground {
  width: 100%;
  position: relative;
  height: 100%;
  padding: 0;
}

.progressText {
  position: absolute;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.modal > div {
  width: 100%;
}

.modalContainer {
  height: 20vh;
  text-align: center;
  line-height: 2em;
}

.modalHeader {
  text-align: center;
  line-height: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.scallableTrigger {
  text-align: right;
  font-size: large;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.1);
}

.doneModulesContainer {
  z-index: 1000;
}

.right.menu {
  width: 100% !important;
}

.right.menu .item {
  width: 100% !important;
}

.right.menu .item .progress {
  width: 100% !important;
  margin: 0;
}

.ui.list > .item .description {
  width: 100%;
  word-break: break-all;
}

.ui.list .item {
  padding: 6px !important;
}

.ui.list {
  padding: 10px !important;
}

.ui.list > .item .description.active {
  display: inline-block;
}

.fa.fa-arrows-alt {
  font-size: xx-large;
}

.closeModal {
  width: 3rem;
  height: 3rem;
  color: white;
  position: absolute;
  right: 15px;
  margin: 0;
  top: 30px;
  font-size: 3rem;
}
 

 /*# sourceMappingURL= index.css.map */