<div class="ui grid column" id="settingsView">
	<div class="fifteen wide column settingSection">
		<div class="title">Sisyphe</div>
		<div class="content">

			<div class="item">
				<div class="description">
					Host
					<div class="sub">
						Change the url to Redis server
					</div>
				</div>
				<div class="action">
					<form ng-submit="changeHost(settings.host)">
						<div class="ui fluid right labeled input" ng-class="{ok: redisConnection(), ko: !redisConnection()}">
							<input type="text" placeholder="Search..." ng-value="settings.host" ng-model="settings.host">
							<div class="label">
								<i class="fa fa-times" aria-hidden="true" ng-if="!redisConnection()"></i>
								<i class="fa fa-check" aria-hidden="true" ng-if="redisConnection()"></i>
							</div>
						</div>
					</form>
				</div>
      </div>
      
			<div class="item" ng-if="serverConnection">
				<div class="description">
					Workers
					<div class="sub">
						Enable or disable Workers
					</div>
				</div>
				<div class="action">
					<ul class="workers">
						<li ng-repeat="worker in settings.workers" ng-click="worker.disable = !worker.disable; saveSettings()" ng-class="{ok:!worker.disable, ko:worker.disable}">{{worker.name}}</li>
					</ul>
				</div>
			</div>
			<div class="item" ng-if="!serverConnection">
				<div class="description">
					Workers
					<div class="sub">
						Run Sisyphe server to enable or disable Workers
					</div>
				</div>
      </div>
      
      <div class="item" ng-if="serverConnection">
        <div class="description">
          Debug
          <div class="sub">
            Enable or disable the output on the server
          </div>
        </div>
        <div class="action">
          <div class="ui fitted toggle checkbox">
            <input ng-checked="debug()" type="checkbox" ng-click="debugSisyphe($event.target.checked)">
            <label></label>
          </div>
        </div>
      </div>
      frklferklfjklerf: {{serverConnection}}
      <div class="item" ng-if="serverConnection">
        <div class="description">
          Resync
          <div class="sub">
            Sync localstorage and server
          </div>
        </div>
        <div class="action">
          <div class="ui button" ng-click="resync()">demldeld</div>
        </div>
      </div>
		</div>
	</div>
</div>