<div class="ui grid tall piled segment fifteen wide column centered">
    <h1 class="row centered content"> Infos</h1>
    <div class="row centered content">
        <div class="ui yellow image label floated left"> Status:<span class="detail">{{status}}</span></div>
        <div class="ui green image label floated center" > Files:<span class="detail">{{maxFile || 0}}</span></div>
        <div class="ui blue image label floated right"  ng-if="status !== 'Ready'"> Time:
            <span class="detail">
                <span ng-if="time.days">{{time.days}} days</span> 
                <span ng-if="time.days || time.hours">{{time.hours}} hours</span>
                <span ng-if="time.days || time.hours || time.minutes">{{time.minutes}} Minutes</span> 
                <span>{{time.seconds}} seconds</span>
            </span>
        </div>
    </div>
</div>