<div class="ui left visible vertical sidebar labeled icon menu">
    <img src="public/img/icon.png" alt="">
  <a class="item" ui-sref="Monitor" ng-click="$state.go('Monitor')">
    <i class="fa fa-desktop" aria-hidden="true"></i>
    Monitor
  </a>
  <a class="item" ui-sref="Logs">
    <i class="fa fa-book" aria-hidden="true"></i>
    Logs
  </a>
  <a class="item" ui-sref="Download">
    <i class="fa fa-download" aria-hidden="true"></i>
    Download
  </a>
  <a class="item" ui-sref="Settings">
    <i class="fa fa-cog" aria-hidden="true"></i>
    Settings
  </a>
</div>