<div class="ui left visible vertical sidebar labeled icon menu">
    <img src="public/img/icon.png" alt="">
  <a class="item" ui-sref="Monitor" ng-click="changeModule(&apos;Monitor&apos;)">
    <i class="fa fa-desktop" aria-hidden="true"></i>
    Monitor
  </a>
  <a class="item" ui-sref="Logs" ng-click="changeModule(&apos;Logs&apos;)">
    <i class="fa fa-book" aria-hidden="true"></i>
    Logs
  </a>
  <a class="item" ui-sref="Settings" ng-click="changeModule(&apos;Settings&apos;)">
    <i class="fa fa-cog" aria-hidden="true"></i>
    Settings
  </a>
  <a class="item" ui-sref="Download" ng-click="changeModule(&apos;Download&apos;)">
    <i class="fa fa-picture-o" aria-hidden="true"></i>
    Download
  </a>
</div>