<div id="notificationsContainer"  ng-if="notifications.total>0">
    <div class="show" ng-click="show = !show">
        <div class="row">
            Notifications: {{notifications.total}}
        </div>
        <div class="openClose" ng-if="!show">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <div class="openClose" ng-if="show">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
        </div>
    </div>
    <div class="notifications" >
        <div class="ui row info message" ng-repeat="info in notifications.infos track by $index" ng-if="show">
            <i class="fa fa-times close" aria-hidden="true" ng-click="remove('infos', info.id)"></i>
            <div class="text">
                {{info.message}}
            </div>
        </div>
        <div class="ui row error message" ng-repeat="error in notifications.errors track by $index" ng-if="show">
            <i class="fa fa-times close" aria-hidden="true" ng-click="remove('errors',error.id)"></i>
            <div class="text">
                {{error.message}}
            </div>
        </div>
        <div class="ui row warning message" ng-repeat="warning in notifications.warnings track by $index" ng-if="show">
            <i class="fa fa-times close" aria-hidden="true" ng-click="remove('warnings', warning.id)"></i>
            <div class="text">
                {{warning.message}}
            </div>
        </div>
    </div>
</div>