<div ui-view="modal"></div>
<div ui-view="navbar" class="ui grid"></div>
<div class="ui grid">
  <div class="ui container grid fifteen wide column">
    <div ui-view="infos" class="row"></div>
    <div ui-view="modules" class="row"></div>
    <div class="row">
      <div class="scallable ui tall piled segment fifteen wide column centered">
        <div class="ui grid">
          <h1 class="row centered content">Logs</h1>
          <div ui-view="logs" class="row"></div>
        </div>
      </div>
    </div>
  </div>
</div>