<div class="section ui grid segment fifteen wide column centered">
    <div class="titleSection centered content">
        <h1 class="row">Control</h1>
    </div>
    <div class="ui contentSection grid">
        <div class="row centered content">
            <div class="ui input">
                <input placeholder="Name of the corpus" ng-model="launch.name" type="text" />
            </div>
            <div class="ui input">
                <input placeholder="Path to configuration" ng-model="launch.config" type="text" />
            </div>
            <div class="ui input">
                <input placeholder="Path to the corpus" ng-model="launch.path" type="text" />
            </div>
            <button class="ui blue right icon button" ng-click="launchCommand(launch)">
                Launch Sisyphe
                <i class="fa fa-arrow-circle-right right" aria-hidden="true"></i>
            </button>
        </div>
        <div class="row centered content" ng-if="commandError">{{commandError}}</div>
        <div class="row centered content" ng-if="getstatus() === 'End'">
            <button class="positive ui button" ng-click="downloadFiles()">
                Download
                <i class="fa fa-download" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>